body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: gray;
  display: flex;
  position: sticky;
  top: 0;
}

.navItems {
  padding: 10px;
  transition: background-color ease-in-out 450ms, color ease-in-out 450ms;
}
#Everest {
  background-color: black;
  color: white;
}
.navItems:hover {
  background-color: black;
  color: white;
}
/*disabling the text decoration for the navbar items*/
a {
  text-decoration: none;
  color: black;
}
.navPic {
  position: relative;
}
.navPicSource {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.imageText {
  color: rgba(0, 0, 0, 0.5);
  font-family: "JetBrains Mono", monospace;
  position: absolute;
  top: 1%;
  left: 35%;
  font-size: 100px;
}
footer {
  background-color: gray;
  padding: 2px;
}
